<div *ngIf="attributions$ | async as attributions" class="d-inline-flex">
    <div *ngIf="!isCollapsed" class="bg-secondary-subtle rounded-1 p-1 d-inline-flex">
        <div *ngFor="let attribution of attributions" class="mx-2">
            <div [innerHTML]="attribution"></div>
        </div>
    </div>
    <button type="button" class="btn btn-sm btn-primary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <strong>i</strong>
    </button>
</div>